```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.python-version
.pytest_cache/
.mypy_cache/
.coverage
coverage/

# Build artifacts
build/
dist/
*.egg-info/
target/

# Logs
*.log

# Environment
.env
.env.local
.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# SQLite databases
*.db
*.sqlite
*.sqlite3

# SQLite временные файлы
*.db-journal
*.sqlite-journal
*.sqlite3-journal
*.db-wal
*.db-shm
*.sqlite-wal
*.sqlite-shm
*.sqlite3-wal
*.sqlite3-shm

# Dependencies
node_modules/
```